@import '../../styles/scss/variables';

.userContainer {

  .navBar {
    position: sticky;
    top: 20px;
    border-radius: 14px;
    background: $activeFieldBackgr;
    margin-bottom: 1.5rem;
    justify-content: center;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;

    li {
      flex-basis: 0;
      flex-grow: 1;
      text-align: center;

      .link {
        width: 100%;
        letter-spacing: 1px;
        border: 0;
        border-radius: 0.25rem;
        padding: 1rem;
        cursor: pointer;
        display: block;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
        color: $secondaryTextColor;

        &:active {
          background-color: $backgroundColor;
          border-bottom: 2px solid $buttonBackgr;
          border-radius: 0;
          color: $textColor;
        }
      }
    }
  }

  .activeLink {
    background-color: $backgroundColor;
    border-bottom: 2px solid $buttonBackgr;
    border-radius: 0;
    color: $textColor;
    width: 100%;
    letter-spacing: 1px;
    padding: 1rem;
    cursor: pointer;
    display: block;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;

  }

  .usersBlock {
    transition: opacity .15s linear;

    .titleWithSearchInput {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;


      .usersBlockTitle {
        color: $textColor;
        font-weight: 700;
        margin-bottom: 0;
        margin-top: 0;
        font-size: 14px;
        font-family: $titleFont;

        line-height: 1.2;
      }

      .inputSearch {
        padding: .2rem 1rem;

      }
    }

    .users {
      border-radius: 14px;
      background: $activeFieldBackgr;
      margin-bottom: 1.5rem;
      box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
      overflow: hidden;
    }
  }
}






