@import '../../styles/scss/variables';

.input {

  font-size: inherit; /* 1 */
  color: $textColor;
  line-height: 26px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:10px;
  min-width: 200px;
  border: 1px solid $activeFieldBackgr;
  background-color: $activeFieldBackgr;
  padding: .5rem 4em .5rem 1rem;
  font-family: $mainFont;

}
.input:hover{
  box-shadow:0 0 4px rgba(0,0,0,0.5);
}
.input:focus{
  outline:none;
}