@import '../../../styles/scss/variables';

.profileInfoWrapper {
  border-radius: 14px;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
  background: $activeFieldBackgr;
}

.headerBlock {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  align-items: center;
  display: flex;
  justify-content: space-between;

  .flexCont {
    display: flex;
    align-items: center;

    .nameBlock {
      margin-left: 1rem;
      display: flex;
      flex-direction: column;

      .name {
        font-weight: 700;
        font-size: 1.3rem;
        color: $textColor;
        font-family: $titleFont;
        display: block;
        line-height: 1.2;
        cursor: pointer;
      }

      .status {
        color: $secondaryTextColor;
        margin-bottom: 0;
        font-size: 15px;
        cursor: pointer;
      }
    }
  }



  .settingsBtn {
    position: relative;
    width: 20px;
    height: 20px;
    background-image: url("./../../../assets/sett.svg");
    background-size: cover;
    background-position: center;
    cursor: pointer;
    justify-self: flex-end;
    align-self: center;

  }

  .userForm {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
  }
}

