@import 'styles/scss/variables';
.appContainer{
  background: $backgroundColor;
  width: 100vw;
  min-height: 100vh;
}
.appWrapperAuth {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: grid;
  max-width: 1000px;
  margin: 0 auto;
  /*grid-template-rows: 60px 1fr;*/
  grid-template-columns:3.5fr 9fr;
  grid-template-areas:
         /* 'h h'*/
          'nav c';

}

.appWrapperContent {
  grid-area: c;
  padding: 10px;

}

.appWrapper{
  display: flex;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  align-items: center;
  justify-content: center;

}
