@import '../../styles/scss/variables';

.textarea {
  width:100%;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:none;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  height:150px;

}
/*.textarea:hover,*/.textarea:focus{
  box-shadow:0 0 4px rgba(0,0,0,0.5);
  outline:none;
}
/*.textarea:focus{
  outline:none;
}*/
