@import '../../styles/scss/variables';
@import '../../styles/scss/mixins';

.myPostsContainer {
  display: flex;
  flex-direction: column;

  .addPostForm {
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    @include wrapper;


    .fieldAddPost {
      width: 60%;
      margin-bottom: 15px;
    }
  }
}