$backgroundColor: #edf2f6;
$buttonBackgr: #0e6dfd;
$activeFieldBackgr: white;
$backgrForModal: rgba(0, 0, 0, 0.2);
$textColor: black;
$secondaryTextColor: #6c757d;
$mainFont: 'DM Sans', sans-serif;
$titleFont: 'Kanit', sans-serif;
$errorColorText: rgba(229, 77, 77, 0.8);
